/* Reset styles. */
.d10x-c,
.d10x-c * {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.d10x-c {
	font-family: helvetica, arial, sans-serif;
	/* Use minimum width */
	display: table;
	background: #fafafa;
	color: black;
	text-align: left;
	/* Decorational */
	border: 1px solid #eee;
	font-size: 16px;
	line-height: 1.6;
	/* Make sure to adapt width on smaller screens */
	max-width: 360px;
	width: 100%;
}

.d10x-c .donations,
.d10x-c .header {
	background: white;
}

.d10x-c .donations {
	list-style: none;
	/* Prevent showing .d10x-c's border */
	display: table;
	width: 100%;
	/* Use borders on smallest view */
	border-top: 1px solid #eee;
	/* Stay on top */
	position: relative;
}

.d10x-c .header {
	padding: 1em;
}

.d10x-c .header .headline {
	padding: 1em;
}

/* Use a black border with a black bolder font. */
.d10x-c .button {
	border: 1px solid currentColor;
	font-weight: bold;
	text-decoration: unset;
	font-size: .9em;
	border-radius: 5px;
	/* Make it larger */
	padding: .25em 1.5em;
	/* Allow moving it to the left/right. */
	display: table;
}

/* Show link color on :hover/:focus */
.d10x-c a.button:not(:focus):not(:hover) {
	color: black;
}

.d10x-c .header .show-donations-button {
	/* Move to the right */
	margin-left: auto;
}

.d10x-c .one-off-donation > a,
.d10x-c .recurrent-donation {
	/* Add padding on the sides */
	padding: 0 1em;
}

/*
 * Show amount(s) and title(s) as table-cells
 * to allow moving amount(s) all the way to the right.
 */
.d10x-c .donation .amount,
.d10x-c .donation .title,
.d10x-c .donation .animated.qr-code-preview-wrapper {
	display: table-cell;
	vertical-align: middle;
	/* Keep empty/incomplete elements the same height. */
	height: 66px;
}

/* Allow showing each quantity the same width. */
.d10x-c .donation .quantities {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding-bottom: 1em;
}

/* Show each quantity the same width. */
.d10x-c .donation .quantity {
	display: table-cell;
	vertical-align: middle;
}

.d10x-c .donation .title,
/* 2 lines in .amount are ok with this padding */
.d10x-c .one-off-donation .amount {
	padding: 0 1em;
}

#donations-box:not(.is-open) .donations,
#donations-box.is-open .show-donations-button {
	display: none;
}

/* Move amount all the way to the right. */
.d10x-c .donation .title {
	width: 100%;
}

/* Remove underline decoration on all links; just change color on :focus/:hover */
.d10x-c a {
	text-decoration: none;
}

.d10x-c .recurrent-donation .amount {
	/* Allow centering amount */
	display: block;
}

.d10x-c .donation .amount {
	/* Center each block */
	text-align: center;
}

/* Make heading proporcional */
.d10x-c h1 {
	font-size: 1.25em;
	line-height: 1em;
}

/* Show each element in .amount as a block */
.d10x-c .amount .currency {
	display: block;
}

.d10x-c .donation .title {
	/* Show all text black (even links). */

}

/* Make clickable area bigger. */
.d10x-c .donation a {
	display: block;
}

.d10x-c .donation .currency {
	font-size: .6em;
}

/* Use a small font because we're using complete text. */
.d10x-c .recurrent-donation .periodicity {
	font-size: .8em;
}

.d10x-c .header .beneficiary-icon-wrapper {
	width: 40px;
	overflow: hidden;
	/* Don't trim image */
	box-sizing: initial;
	padding: 1em;
}

/* Show the icon to the side of the .hgroup */
.d10x-c .header .beneficiary-icon-wrapper,
.d10x-c .header .hgroup {
	display: table-cell;
	vertical-align: middle;
}

/*
 * Use a light gray background
 * because it contains a bold font.
 */
.d10x-c .recurrent-donation {
	background: #fafafa;
}

.d10x-c .donation {
	/* Allow showing the qr at the bottom/top of it. */
	position: relative;
}

.d10x-c .header .headline {
	/* Add the same left/right space in the bottom */
	margin-bottom: 1em;
}

.d10x-c .qr-code-wrapper {
	/**
	 * This padding may not seem horizontally centered, but it is.
	 * The thing is that the qr code contains a white padding and that
	 * makes the padding seem weird, but you can check it using a black
	 * background.
	 */
	padding: 1em 2em 3em 2em;
}

/* Show the large qr image as a popup */
.d10x-c .animated.qr-code-preview-wrapper .qr-code-wrapper {
	position: absolute;
	padding: 2em;
	right: 0;
	background: white;
	margin: 0;
	z-index: 1;
	transition: all .25s ease;
	border: 1px solid #eee;
	/**
	 * Show qr on top of the .donation.
	 *
	 * This are the :last-child styles, but we use them as fallback
	 * in case :last-child/:first-child are not supported.
	 */
	bottom: 100%;
}

/* Show qr at the bottom of the .donation. */
.d10x-c .donation:first-child .animated.qr-code-preview-wrapper .qr-code-wrapper {
	top: 100%;
	/* Remove fallback styles. */
	bottom: auto;
}

/* Fade in the qr comming from the selected donation. */
/* Remove the animation if the qr is selected. */
.d10x-c .animated.qr-code-preview-wrapper .qr-code-wrapper:hover,
.d10x-c .animated.qr-code-preview-wrapper .qr-code-wrapper:focus,
.d10x-c .animated.qr-code-preview-wrapper:not(:hover):not(:focus) .qr-code-wrapper {
	opacity: 0;
	visibility: hidden;
}

.d10x-c .beneficiary-icon,
.d10x-c .qr-code-preview,
.d10x-c .qr-code {
	/* Remove extra height and allow centering the image */
	display: table;
	/* Center the image */
	margin: auto;
}

.d10x-c .qr-code-preview {
	/* Round the qr preview a little. */
	border-radius: 100%;
}

.d10x-c .footer {
	padding: 2em;
}

.d10x-c .footer .disclaimer {
	font-size: .8em;
}

/* Show link color on select. */
.d10x-c a:not(:hover):not(:focus) {
	color: inherit;
}

/* Use a bold font on the selected title. */
.d10x-c .recurrent-donation .title {
	font-weight: bold;
}

.d10x-c .payment-provider {
	font-weight: bold;
	padding: 1em;
	text-align: left;
	text-transform: uppercase;
	font-size: .8em;
	/* Add a small border at the bottom as decoration */
	display: table;
	border-bottom: 1px solid #eee;
}

.d10x-c ol {
	list-style: none;
}

/* Where screen is larger is larger than this view's width (including borders). */
@media (min-width: 740px) {

	.d10x-c[data-max-columns='2'].has-headline.has-disclaimer.is-open {
		/* Update margin to compensate .donations' negative margin */
		margin: 1em;
		/* Show 2 columns (360 x 2) + .donations's margin (-1em) */
		max-width: calc(360px * 2 - 1em);
	}

	.d10x-c[data-max-columns='2'].has-headline.has-disclaimer.is-open > * {
		/* Show them as columns */
		display: inline-block;
		vertical-align: top;
		width: 360px;
	}

	.d10x-c[data-max-columns='2'].has-headline.has-disclaimer.is-open .donations {
		/* Draw outside the box */
		margin: -1em;
		/** Move content to the right; footer to the left. */
		float: right;
		/* Use box-shadow instead of border */
		box-shadow: 0 0 5px rgba(0, 0, 0, .1);
		border: 0;
	}

	#donations-box[data-max-columns='2'].has-headline.has-disclaimer.is-open .show-donations-button {
		/* Make sure to use visibility: hidden; instead of display: none; to preserve the container's height */
		display: block;
		visibility: hidden;
	}

}
