/* Reset styles. */
.d10x-c,
.d10x-c * {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

.d10x-c {
	font-family: helvetica, arial, sans-serif;
	/* Use minimum width */
	display: table;
}

.d10x-c .donations {
	list-style: none;
}

/** Add gray border to items and amounts. */
.d10x-c .donation,
.d10x-c .donation .amount {
	border: 1px solid #eee;
	/* Overlap borders */
	margin: -1px;
}

/* Show amount(s), quantities, and title inline. */
.d10x-c .donation .amount,
.d10x-c .donation .title,
.d10x-c .donation .quantities,
.d10x-c .donation .quantity {
	display: inline-block;
	vertical-align: middle;
}

.d10x-c .donation .title,
.d10x-c .donation .amount {
	padding: 1em;
}

/* Make clickable area bigger. */
.d10x-c .donation a {
	display: block;
}

.d10x-c .donation .optional.currency-name {
	font-size: .6em;
}
