.d10x-c .donations {
	list-style: none;
}

/** Add gray border to items. */
.d10x-c .donation {
	border: 1px solid #eee;
}

.d10x-c .recurrent-donation {
	/* Equal link padding. */
	padding-left: 1em;
}

/* Show ammount(s) and title inline. */
.d10x-c .donation * {
	display: inline-block;
	vertical-align: middle;
}

/* Make clickable things bigger. */
.d10x-c .donation a {
	padding: 1em;
}