/* Reset styles. */
.d10x-c,
.d10x-c * {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

.d10x-c .donations {
	list-style: none;
}

/** Add gray border to items and ammounts. */
.d10x-c .donation,
.d10x-c .donation .ammount {
	border: 1px solid #eee;
}

.d10x-c .recurrent-donation {
	/* Equal link padding. */
	padding-left: 1em;
}

/* Show ammount(s) and title inline. */
.d10x-c .donation * {
	display: inline-block;
	vertical-align: middle;
}

/* Make clickable things bigger. */
.d10x-c .donation .ammount {
	padding: 1em;
}
