{% from './lib/build-amount.njk' import buildAmount %}
{% from './lib/build-element.njk' import buildElement %}
{% set beneficiaryAlias = beneficiary.alias %}
{% set states = {
	'open': 'is-open',
	'headline': 'has-headline',
	'disclaimer': 'has-disclaimer'
} %}
<link rel='stylesheet' href='/css/donation-box.min.css'/>
{# Always set states.open to show donations even if js is not being used. #}
<aside id='donation-box' data-theme='compact' class='d10x-c {{ states.open }} {{ states.headline if headline }} {{ states.disclaimer if disclaimer }}' data-states='{{ states | dump }}' data-max-columns='{{ maxColumns if maxColumns < 3 and maxColumns > 0 else 2 }}'>
	<header class='header'>
		<div class='beneficiary-icon-wrapper icon-wrapper'>
			{% set icon = beneficiary.icon %}
			{% set iconHref = icon.href or beneficiary.href %}
			<a href='{{ iconHref }}' target='_self' rel='noopener noreferrer'>
				{% if icon.html %}
					{{ icon.html | safe }}
				{% else %}
					{% set isDefault = true if not icon.src %}
					{% set iconSource = icon.src %}
					{% set iconSourceRetina = icon.retinaSrc or iconSource %}
					{% set iconDescription = icon.alt if not isDefault else beneficiaryAlias + ' icon' %}
					<img class='beneficiary-icon icon' src='{{ iconSource }}' alt='{{ iconDescription }}' width='40' height='40' srcset='{{ iconSourceRetina }} 2x'/>
				{% endif %}
			</a>
		</div>
		<div class='hgroup'>
			{# @TODO Open in a new window only if the beneficiary wants to. #}
			<p class='beneficiary subheading'><a href='{{ beneficiary.href }}' rel='noopener noreferrer' target='_self' class='alias'>{{ beneficiaryAlias }}</a></p>
			<h1 class='heading'>Donations</h1>
		</div>
		{% if headline %}
			<p class='headline'>
				{{ headline | striptags(true) | escape | nl2br }}
			</p>
			{% if not open or open === 'auto' %}
				<a href='#donations' class='internal-link show-donations-button button'>Donate</a>
				<script>{% include '../../static/js/.open.js' %}</script>
			{% endif %}
		{% endif %}
	</header>
	<div id='donations' class='donations'>
		{% for paymentProvider, paymentProviderDonations in donations %}
			<div class='payment-provider-donations-wrapper' data-payment-provider='{{ paymentProvider }}'>
				<p class='payment-provider'>{{ paymentProvider }}</p>
				<ol class='payment-provider-donations'>
				{% for donation in paymentProviderDonations %}
					{% set type = donation.type %}
					{% set href = donation.href %}
					{% set title = donation.title %}
					{% set amounts = donation.amounts %}
					{% if type == 'one-off' %}
						{% set amount = amounts | first %}
						{% set amountHref = amount.href %}
						{% set qr = amount.qr or donation.qr %}
						<li class='donation one-off-donation'>
							{# @FIXME [Nunjucks bug] Calling a macro (using call()/caller()) won't pass variables defined in this scope, inside the call() block. #}
							<a class='external-link' href='{{ amountHref if amountHref else href }}' target='{{ "_blank" if openInNewWindow else "_self" }}' rel='noopener noreferrer'>
								<span class='title'>{{ title }}</span>
								{% if qr %}
									{% set animateQR = qr.animate %}
									{% if not animateQR %}
										{{- buildAmount(amount) | trim -}}
									{% endif %}
									<div class='qr-code-preview-wrapper{{ " animated" if animateQR }}'>
										{% if animateQR %}
											{{ buildElement('img', {
												'class': 'qr-code-preview',
												'src': qr.src,
												'alt': 'QR Code preview',
												'srcset': qr.srcset,
												'width': 20,
												'height': 20
											}) }}
										{% endif %}
										<div class='qr-code-wrapper'>
											{{ buildElement('img', {
												'class': 'qr-code',
												'src': qr.src,
												'alt': qr.alt,
												'srcset': qr.srcset,
												'width': 120,
												'height': 120
											}) }}
										</div>
									</div>
									{% if animateQR %}
										{{- buildAmount(amount) | trim -}}
									{% endif %}
								{% else %}
									{{- buildAmount(amount) | trim -}}
								{% endif %}
							</a>
						</li>
					{% elseif type == 'recurrent' %}
						<li class='donation recurrent-donation'>
							<span class='title'>{{ title }}</span>
							<ul class='quantities'>
								{%- for amount in amounts -%}
									{%- set amountHref = amount.href -%}
									<li class='quantity'>
										<a class='external-link' href='{{ amountHref if amountHref else href }}' target='{{ "_blank" if openInNewWindow else "_self" }}' rel='noopener noreferrer'>
											{{ buildAmount(amount) }}
										</a>
									</li>
								{%- endfor -%}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
				</ol>
			</div>
		{% endfor %}
	</div>
	{% if disclaimer %}
		<footer class='footer'>
			<small class='disclaimer'>
				{{ disclaimer | safe }}
			</small>
		</footer>
	{% endif %}
</aside>
