{% from './lib/build-amount.njk' import buildAmount %}
{% set small = size == 'small' %}
<link rel='stylesheet' href='/css/donation-box.min.css'/>
<aside id='donation-box' data-theme='compact' class='d10x-c'>
	<header class='header'>
		<div class='beneficiary-icon-wrapper icon-wrapper'>
			{% set icon = beneficiary.icon %}
			{% set iconHref = icon.href or beneficiary.href %}
			<a href='{{ iconHref }}' target='_self' rel='noopener noreferrer'>
				{% if icon.html %}
					{{ icon.html | safe }}
				{% else %}
					{% set isDefault = true if not icon.src %}
					{% set iconSource = icon.src or '/favicon.ico' %}
					{% set iconDescription = icon.alt if not isDefault else 'Donation Box icon' %}
					<img class='beneficiary-icon icon' src='{{ iconSource }}' alt='{{ iconDescription }}' width='40' height='40'/>
				{% endif %}
			</a>
		</div>
		<div class='hgroup'>
			{# @TODO Open in a new window only if the beneficiary wants to. #}
			<p class='beneficiary subheading'><a href='{{ beneficiary.href }}' rel='noopener noreferrer' target='_self' class='alias'>{{ beneficiary.alias }}</a></p>
			<h1 class='heading'>Donations</h1>
		</div>
	</header>
	<ol class='donations'>
		{% for donation in donations %}
			{% set type = donation.type %}
			{% set href = donation.href %}
			{% set title = donation.title %}
			{% set amounts = donation.amounts %}
			{% if type == 'one-off' %}
				{% set amount = amounts | first %}
				{% set amountHref = amount.href %}
				<li class='donation one-off-donation'>
					{# @FIXME [Nunjucks bug] Calling a macro (using call()/caller()) won't pass variables defined in this scope, inside the call() block. #}
					<a class='external-link' href='{{ amountHref if amountHref else href }}' target='{{ "_blank" if openInNewWindow else "_self" }}' rel='noopener noreferrer'>
						{{- buildAmount(amount) | trim -}}
						<span class='title'>{{ title }}</span>
					</a>
				</li>
			{% elseif type == 'recurrent' %}
				<li class='donation recurrent-donation'>
					<span class='title'>{{ title }}</span>
					{% if small %}
					<br>
					{% endif %}
					<ul class='quantities'>
						{%- for amount in amounts -%}
							{%- set amountHref = amount.href -%}
							<li class='quantity'>
								<a class='external-link' href='{{ amountHref if amountHref else href }}' target='{{ "_blank" if openInNewWindow else "_self" }}' rel='noopener noreferrer'>
									{{ buildAmount(amount) }}
								</a>
							</li>
						{%- endfor -%}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
</aside>
