{% set title = 'Beneficiary\'s page example' %}
{% extends './.njk/layouts/index.njk' %}
{% block body %}
	<p><strong>This page won't be shown.</strong></p>
	<p>This is an external page that shows the beneficiary's site.</p>
{% endblock %}
