{% set title = 'Donations Example' %}
{% extends './.njk/layouts/index.njk' %}
{% block body %}
	<p><strong>This page won't be shown.</strong></p>
	<p>This is an external page that includes your product and some payment options. This is where your visitor actually donates.</p>
{% endblock %}
