<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'/>
	<title>{{ title }} - Donations Box</title>
	<link rel='icon' href='/favicon.svg' sizes='any' type='image/svg+xml'/>
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>