{% macro buildElement (tag, attributes) %}
	{% set attributesString = '' %}
	{% for key, value in attributes %}
		{% set attributesString = attributesString + ' ' + key + '="' + value + '"' %}
	{% endfor %}
	{{ ('<' + tag + ' ' + attributesString + '/>') | safe }}
{% endmacro %}
