{% macro buildElement (tag, attributes) %}
	{% set attributesString = '' %}
	{% for key, value in attributes %}
		{% if value %}
			{% set attributesString = attributesString + ' ' + key + '="' + value + '"' %}
		{% endif %}
	{% endfor %}
	{{ ('<' + tag + ' ' + attributesString + '/>') | safe }}
{% endmacro %}
